/var/log/syslog_server/{{ syslog_client }}/syslog
{
        rotate 7
        daily
        missingok
        notifempty
        delaycompress
        compress
        postrotate
#               /usr/lib/rsyslog/rsyslog-rotate
                service rsyslog rotate > /dev/null
        endscript
}

/var/log/syslog_server/{{ syslog_client }}/mail.info
/var/log/syslog_server/{{ syslog_client }}/mail.warn
/var/log/syslog_server/{{ syslog_client }}/mail.err
/var/log/syslog_server/{{ syslog_client }}/mail.log
/var/log/syslog_server/{{ syslog_client }}/daemon.log
/var/log/syslog_server/{{ syslog_client }}/kern.log
/var/log/syslog_server/{{ syslog_client }}/auth.log
/var/log/syslog_server/{{ syslog_client }}/user.log
/var/log/syslog_server/{{ syslog_client }}/lpr.log
/var/log/syslog_server/{{ syslog_client }}/cron.log
/var/log/syslog_server/{{ syslog_client }}/debug
/var/log/syslog_server/{{ syslog_client }}/messages
{
        rotate 4
        weekly
        missingok
        notifempty
        compress
        delaycompress
        sharedscripts
        postrotate
#               /usr/lib/rsyslog/rsyslog-rotate
                service rsyslog rotate > /dev/null
        endscript
}
